/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 sept. 2015, 09:38:30
    Author     : alain
*/

.body{
    padding-top: 10px;
}
header{
        background-color:rgb(72,198,236);
	color : #980101;
	border: solid 0.1em #980101;
	height: 154px;
	border-collapse: separate;
}
header #logoGSB {
  width : 238px;
  height : 152px;
}
.titre{
    padding-bottom: 20px;
}
